.search-filter-wrapper {
  display: flex;
  align-items: center;
  cursor: no-drop;
}

.search-filter-wrapper span {
  color: var(--text-color);
  font-weight: 500;
  margin-left: 8px;
  font-size: 16px;
}