.sidebarRow {
  display: flex;
  align-items: center;
  background-color: var(--header-background-color);
}

.sidebarRow:hover {
  cursor: no-drop;
  background-color: var(--hover-sidebar-background-color);
}

.sidebarRow.selected {
  background-color: var(--select-sidebar-background-color);
  font-weight: 500;
}

.sidebarRow.selected:hover {
  background-color: var(--hover-select-sidebar-background-color);
}

.sidebarRow .icon {
  margin-right: 20px;
}

/* Full Sidebar */

.sidebarRow.full {
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 0 8px 24px;
}

/* Min Sidebar */

.sidebarRow.min {
  height: 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 10px;
  font-weight: 300;
}

.sidebarRow.min .icon{
  margin-right: 0;
  margin-bottom: 4px;
}
