.video-card {
  position: relative;
  cursor: pointer;
}

.thumbnail__wrapper {
  position: relative;
}

.timestamp {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #eee;
  background: #030303;
  padding: 1px 4px;
}

.thumbnail__wrapper:hover .function-btn{
  display: flex;
}

.function-btn {
  position: absolute;
  right: 4px;
  top: 4px;
  color: #eee;
  width: 126px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
}

.function-btn-icon {
  background: #030303;
  border-radius: 2px;
  opacity: 0.8;
  width: 26px;
  height: 26px;
  margin-bottom: 4px;
  padding: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: no-drop;
}

.function-btn-icon:nth-child(1)::before {
  content: "WATCH LATER";
  opacity: 0;
}
.function-btn-icon:nth-child(2)::before {
  content: "ADD TO QUEUE";
  opacity: 0;
}

.function-btn-icon:nth-child(1):hover::before,
.function-btn-icon:nth-child(2):hover::before {
  opacity: 1;
  transition: opacity 0.2s ease-out;
  transition-delay: 0.3s;
  font-weight: 500;
  font-size: 13px;
  padding-right: 6px;
}

.function-btn-icon:hover {
  width: 128px;
  transition: width 0.3s ease-in-out;
}

.user-channel {
  display: none;
  color:var(--text-color);
}

.userAvatar {
  border-radius: 50%;
}

.video-title {
  color: var(--heading-text-color);
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-option-icon {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  z-index: 1;
  color: var(--text-color);
}

.video-caption {
  display: none;
  color: var(--text-color);
}

.video-card:hover .video-option-icon {
  display: block;
}

.play-btn {
  display: none;
}

.video-info {
  position: relative;
  padding-right: 28px;
  z-index: 0;
}

.video-center,
.video-channel {
  color: var(--text-color);
}

.video-channel:hover {
  filter: brightness(0.5);
}

/* Home */

.video-card.home {
  margin-bottom: 32px;
}

.thumbnail__wrapper.home {
  margin-bottom: 12px;
}

.thumbnail.home {
  width: 100%;
}

.video-info.home {
  display: flex;
  padding-bottom: 8px;
  font-size: 14px;
}

.userAvatar.home {
  width: 36px;
  margin-right: 8px;
}

.video-title.home {
  font-size: 16px;
  line-height: 24px;
}

/* Recommend in Watch */

.video-card.recommend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.thumbnail.recommend {
  width: 168px;
}

.thumbnail__wrapper.recommend:hover .play-btn {
  display: flex;
}

.play-btn.recommend {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #eee;
  font-size: 60px;
  display: none;
  align-items: center;
  justify-content: center;
}

.function-btn-icon.recommend::before {
  display: none;
}
.function-btn-icon.recommend:hover {
  width: 26px;
}

.userAvatar.recommend {
  display: none;
}

.video-center.recommend {
  margin-left: 12px;
  font-size: 12px;
}

.video-channel.recommend {
  font-size: 12px;
}

/* Channel */

.video-card.channel {
  margin-bottom: 8px;
}

.thumbnail.channel {
  width: 100%;
  margin-bottom: 4px;
}

.userAvatar.channel {
  display: none;
}

.video-center.channel {
  font-size: 12px;
}

/* Search */

.video-card.search {
  display: flex;
  margin-top: 20px;
}

.thumbnail.search {
  width: 360px;
}

.video-info.search {
  margin-left: 16px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  flex: auto;
}

.video-center.search {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.video-title.search {
  font-size: 18px;
  font-weight: 400;
  order: 2;
}
.video-channel.search {
  display: none;
}
.video-views.search {
  order: 1;
  font-size: 12px;
}

.user-info-wrapper.search {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.userAvatar.search {
  width: 24px;
}
.user-channel.search {
  display: flex;
  font-size: 12px;
  margin-left: 8px;
}

.video-caption.search {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .video-option-icon {
    display: block;
  }
  .video-card.recommend {
    justify-content: initial;
    width: 100%;
  }
  .video-option-icon.recommend {
    display: none;
  }
}