:root {
  --header-height: 60px;

  --background-color: #f9f9f9;
  --channel-tab-background-color: #f9f9f9;
  --channel-background-color: #f1f1f1;
  --header-background-color: #FFF;
  
  --select-background-color: #030303;
  --heading-text-color: #020202;
  --text-color: #606060;
  --select-text-color: #fff;

  --header-input-background-color: #FFF;
  --header-input-search-background-color: #f8f8f8;
  
  --border-category-item-color: rgba(0, 0, 0, 0.1);
  --category-item-background-color: rgba(0, 0, 0, 0.05);
  --select-category-item-background-color: #030303;

  --select-sidebar-background-color: rgba(0, 0, 0, 0.1);
  --hover-select-sidebar-background-color: rgba(0, 0, 0, 0.15);
  --hover-sidebar-background-color: rgba(0, 0, 0, 0.05);
}

[data-theme="dark"] {
  --background-color: #181818;
  --channel-tab-background-color: #181818; 
  --channel-background-color: #000;


  --header-background-color: #202020;
  --heading-text-color: #FFF;
  --text-color: #AAA;
  --select-text-color: #030303;

  --header-input-background-color: #121212;
  --header-input-search-background-color: hsla(0, 0, 100%, 0.08);

  --border-category-item-color: rgba(255, 255, 255, 0.1);
  --category-item-background-color: rgba(255, 255, 255, 0.1);
  --select-category-item-background-color: #fff;

  --select-sidebar-background-color: rgba(255, 255, 255, 0.1);
  --hover-select-sidebar-background-color: rgba(255, 255, 255, 0.15);
  --hover-sidebar-background-color: rgba(255, 255, 255, 0.05);
}

* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color)!important;
  color: var(--heading-text-color)!important;
  line-height: 1.5715;
  font-size: 14px;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 10px;
}

body.modal-open .header {
  padding-right: 10px;
}

@media (max-width: 768px) {
  body.modal-open {
    padding-right: 0;
  }
  body.modal-open .header {
    padding-right: 16px;
  }
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Active click Button */

.btn-click {
  display: flex;
}

.btn-click:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -8px;
  right: -8px;
}

.btn-click:active:after {
  background-color: var(--header-background-color);
  filter: brightness(0.94);
}

/* Line */

.line{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--border-category-item-color);
  margin: 8px 0;
}

/* Disabled */

.disabled {
  display: none;
}